:root {
  --font-primary: 'comfortaa', sans-serif;
  --font-secondary: 'raleway', sans-serif;

  --font-weight-regular:  400;
  --font-weight-semibold: 600;

  --color-selago: #EDE9FB;
}

body {
  background-color: var(--color-selago);
  font-family: var(--font-secondary);
  line-height: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-primary);
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 1.5rem;
  margin-top: 0;
  max-width: 32rem;
}

.l-container {
  max-width: 75rem;
  margin-inline: auto;
  padding-inline: 1rem;
}

.header {
  margin-bottom: 3rem;
  padding-top: 1rem;
}

.info-section {
  margin-bottom: 3rem;
}

.info-list {
  display: grid;
  grid-template-columns: 3rem 1fr;
  margin-top: 0.5rem;
}

.info-list__label {
  font-weight: var(--font-weight-semibold);
}

.u-hidden {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}