.header {
  align-items: center;
  background-color: var(--color-green-light);
  box-shadow: 0px 4px 4px 0px rgba(125, 197, 126, 0.25);
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
  padding: 1rem;
}

.header__logo {
  flex-shrink: 0;
  height: 5rem;
  width: 5rem;
}

@media screen and (min-width: 48rem) {
  .header {
    flex-direction: column;
    gap: 2.5rem;
    padding: 2.5rem;
  }

  .header__logo {
    height: 7rem;
    width: 7rem;
  }

  .header__heading {
    font-size: 8vh;
    writing-mode: vertical-rl;
  }
}